name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "!**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/_tests.yaml
    with:
      arch: amd64
      runner: ubuntu-24.04

  arches:  # FIXME: remove this job before merging
    uses: ./.github/workflows/test-on-alternative-arches.yaml
