name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "!**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - self-hosted-linux-ppc64el-noble-edge
          - self-hosted-linux-s390x-noble-edge
    uses: ./.github/workflows/tests.yaml
    with:
      runner: ${{ matrix.runner }}
